.container-card {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 13px;
    padding-top: 90px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
}
