footer {
    background-color: #F4F4F4;
    width: 100%;
}

footer .footer-container {
    display: flex;
    gap: 90px;
    padding-block: 61px;
    padding-inline: 80px;
}


footer .first-container p {
    max-width: 354px;
    color: #3F3F40;
    opacity: 1;
    font-weight: 300;
    margin-top: 18px;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

footer .first-container .icons {
    display: flex;
    margin-top: 27px;
}

footer .line {
    height: 198px;
    width: 1px;
    background: #2828282E;
}

footer .column h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #222222B5;

}

footer .column ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin-top: 20px;
}

footer .column a {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #222222B5;
}

footer .column a:hover {
    text-decoration: underline;
}

footer .box {
    background: #FFFFFF;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .box p {
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3F3F40;
}

@media (max-width: 1024px) { 
    footer .footer-container {
        flex-direction: column;
        gap: 32px;
    }

    footer .footer-container {
        padding-inline: 24px;
    }

    footer .line {
        display: none;
    }
}